<%= form_for @event ||= FullcalendarEngine::Event.new(), :html => { id: 'event_form', class: "form-horizontal" } do |f| %>
<div class="col-sm-12 col-12" id="form-ui-dialog-custom">
<div class="form-group">
  <%=f.label :event_type, "Event Type", class: "col-sm-1 control-label padd" %>
  <div class="col-sm-9">
  <%=f.select :event_type, ["Schedule"], {}, class: "selct2", width: "300px;" %>
  </div>
</div>
<div class="form-group">
  <%=f.label :title, class: "col-sm-1 control-label padd" %>
  <div class="col-sm-9">
  <%=f.text_field :title, class: "form-control"%>
  </div>
</div>
<div class="form-group">
  <%=f.label :description, class: "col-sm-1 control-label padd" %>
  <div class="col-sm-9">
  <%=f.text_area :description, :rows => 2, :cols => 30, class: "form-control" %>
</div>
</div>
<div class="form-group">
  <%=f.label :starttime, 'Start Time', class: "col-sm-1 control-label" %>
  <div class="col-sm-9">
    <%=f.datetime_select :starttime, order: [:month, :day, :year], ampm: true, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%=f.label :endtime, 'End Time', class: "col-sm-1 control-label" %>
  <div class="col-sm-9">
  <%=f.datetime_select :endtime, order: [:month, :day, :year], ampm: true, class: "form-control"%>
</div>
</div>
<div class="form-group">
  <%=f.label :all_day, "All Day", class: "col-sm-1 control-label" %>
  <div class="col-sm-9">
  <%=f.check_box :all_day %>
  </div>
</div>
<div class="form-group">
  <%=f.label :all_staff, "All Staff", class: "col-sm-1 control-label" %>
  <div class="col-sm-9">
  <%=f.check_box :all_staff %>
  </div>
</div>
  <%=f.hidden_field :user_id, value: cookies[:staff_calendar_user_id] %>
<div class="form-group">
  <%=f.label :period, "Repeats", class: "col-sm-1 control-label" %>
  <div class="col-sm-9">
  <%=f.select :period, FullcalendarEngine::Event::REPEATS.values, {}, onchange: "FullcalendarEngine.Events.showPeriodAndFrequency(this.value);" %></div>
</div>
<div class="form-group" id = "frequency" style = "display:none;">
  <%=f.label :frequency, "Repeat Every", class: "col-sm-1 control-label" %>
  <div class="col-sm-5">
    <%=f.select :frequency, (1..30).to_a %></div> 
  <span class="col-sm-3" id = "period"></span>
</div>
<div class="form-group" id="untildate" style = "display:none;">
  <%=f.label :untildate, "Until", class: "col-sm-1 control-label padd" %>
  <div class="col-sm-9">
<%=f.date_select "untildate", name: "event[untildate]" %></div>
</div>
<div class="form-group pull-right">
  <div class="col-sm-offset-3 col-sm-2">
  <%=f.submit "Create Events", id: "create-button"%> <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</div>
</div>
</div>
<%end %>
<script type="text/javascript">
$("select.selct2").select2( { dropdownCssClass: 'ui-dialog' } );
$("select#event_classroom").select2( {dropdownCssClass: 'ui-dialog' } );
$("select#event_period").select2( {dropdownCssClass: 'ui-dialog' } );
$("select#event_frequency").select2( {dropdownCssClass: 'ui-dialog' } );
<%#$("#event_title").datepicker();%>
</script>

