<%#<p>%>
  <%#<%= link_to 'Create Event', 'javascript:void()', id: 'new_event' %>
<%#</p>%>

<div id="infants_class" data-infants= <%= current_day_care.daycare_class.first.one_year %> ></div>
<div id="toddlers_class" data-toddlers= <%= current_day_care.daycare_class.first.one_to_two_years %> ></div>
<div id="earlylearners_class" data-earlylearners= <%= current_day_care.daycare_class.first.two_to_three_years %> ></div>
<div id="preschool_class" data-preschool= <%= current_day_care.daycare_class.first.three_to_four_years %> ></div>
<div id="prekindergarten_class" data-prekindergarten= <%= current_day_care.daycare_class.first.four_to_five_years %> ></div>
<div class="hidden" id="staff_alert">
  <div id="dialog_staff_alert" title="Alert!" style="padding: 1em 3em,
        overflow: visible">
    <p>Please Choose A Staff For Schedule!</p>
  </div>
</div>
<div class="schedule_staff">
  <% if current_user.role != "day_care" %>
    <div class="staff_list">
      <%#= label_tag 'staff', 'Schedule A Staff' %>
      <div class="hidden">
        <% current_daycare_staffs = current_day_care.staffs.reject!{|a| a== current_day_care.user} %>
      </div>
      <%= select_tag :user_id, options_for_select(current_daycare_staffs.collect{ |u| [u.email, u.id] }), :include_blank => "Schedule A Staff" %>
      <%#= label_tag 'staff', 'Schedule A Staff Group' %>
      <%#= select_tag :staff_group, options_for_select(["Directors","Assistant Directors","Teachers","Assistant Teachers","Bookkeepers","Floaters"]) %>
    </div> 
  <% end %>
</div>
<div class='calendar' id='calendar' style="margin:20px"></div>
<div id="event_desc_dialog" class="dialog" style="display:none;"></div>
<div id="create_event_dialog_staff" class="dialog" style ="display:none;">
  <%= render 'staff_event_form' %>
</div>

<script>
  $(document).ready(function(){
    $('.calendar').fullCalendar(full_calendar_options);
    // page is now ready, initialize the calendar...
    $('#new_event').click(function(event) {
      FullcalendarEngine.Form.display()
      event.preventDefault();
    });
  });

  $('#user_id').on('change', function() {
    var staff_id = $(this).val();
    var staff_calendar_user_id = $.cookie('staff_calendar_user_id', staff_id);
    console.log(staff_id);
  });
</script>
<style>
  #dialog_staff_alert {
    padding: 1em 3em !important;
    overflow: visible !important;
  }
  .ui-dialog .ui-dialog-buttonpane button {
    margin: 0;
    background-color: #428bca;
    border-color: #428bca;
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
}
</style>
